

@{
    Layout = null;
    ViewBag.Title = "Jack";
}

<br />
<br />
<br />
<br />
<center>
    <div class="video-box">
        <iframe  width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/eHuFs05_XKg" frameborder="0" allowfullscreen></iframe>
    </div>
</center>

